:root {
  --color-white-1: #f9f9f9;
  --color-white-2: #d4d7d8;
  --color-white-3: #a9b3b4;
  --color-white-4: #f1f1f1;
  --color-black-1: #283637;
  --color-black-2: #1e2b2c;
  --color-green-1: #029687;
  --color-green-2: #283939;
  --color-green-3: #027468;
}

@-webkit-keyframes scale-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--color-white-3);
}

.display-none {
  display: none;
}

/* Designing the calculator */
section.calculator {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.calculator .container {
  height: 100vh;
  width: 100vw;
  background: var(--color-white-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.5);
}

section.calculator .container .calculator-wrapper {
  overflow: hidden;
  background: var(--color-white-1);
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

section.calculator .container .calculator-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

section.calculator .container .calculator-wrapper .header .mode-toggle {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 10rem;
  z-index: 11;
}

section.calculator .container .calculator-wrapper .header .mode-toggle i:last-child {
  display: none;
}

section.calculator .container .calculator-wrapper .header .mode-toggle i:first-child {
  display: block;
}

section.calculator .container .calculator-wrapper .header .mode-toggle:hover i, section.calculator .container .calculator-wrapper .header .mode-toggle:focus-within i {
  color: var(--color-black-1);
}

section.calculator .container .calculator-wrapper .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100vw;
  width: 100%;
  height: 10rem;
  position: relative;
  z-index: 2;
}

section.calculator .container .calculator-wrapper .display label {
  position: absolute;
  text-align: right;
  width: 100%;
  top: 15%;
  left: 0;
  padding-right: 2rem;
  font-weight: 500;
  font-family: inherit;
  z-index: 2;
  font-size: 1rem;
}

section.calculator .container .calculator-wrapper .display input {
  position: absolute;
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  display: block;
  height: 100%;
  text-align: right;
  padding: 0 1rem;
  font-size: 1.8rem;
  font-family: inherit;
  caret-color: var(--color-green-1);
  font-weight: 500;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.calculator .container .calculator-wrapper .keys {
  z-index: 10;
  padding: 1.5rem 0;
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'ac backspace module division' 'seven eight nine multiplication' 'four five six minus' 'one two three plus' 'plus-minus zero dot equals';
  grid-column-gap: 0rem;
  grid-row-gap: 2rem;
  place-items: center;
  -webkit-tap-highlight-color: transparent;
}

section.calculator .container .calculator-wrapper .keys div {
  width: 3.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 1.8rem;
  border-radius: 10rem;
  vertical-align: center;
  font-family: inherit;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  z-index: 1;
}

section.calculator .container .calculator-wrapper .keys div.key {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section.calculator .container .calculator-wrapper .keys div:hover, section.calculator .container .calculator-wrapper .keys div:focus-within {
  background: var(--color-white-2);
}

section.calculator .container .calculator-wrapper .keys div.ac {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ac;
}

section.calculator .container .calculator-wrapper .keys div.backspace {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: backspace;
}

section.calculator .container .calculator-wrapper .keys div.module {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: module;
}

section.calculator .container .calculator-wrapper .keys div.division {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: division;
}

section.calculator .container .calculator-wrapper .keys div.seven {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: seven;
}

section.calculator .container .calculator-wrapper .keys div.eight {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: eight;
}

section.calculator .container .calculator-wrapper .keys div.nine {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: nine;
}

section.calculator .container .calculator-wrapper .keys div.multiplication {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: multiplication;
}

section.calculator .container .calculator-wrapper .keys div.four {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: four;
}

section.calculator .container .calculator-wrapper .keys div.five {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: five;
}

section.calculator .container .calculator-wrapper .keys div.six {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: six;
}

section.calculator .container .calculator-wrapper .keys div.minus {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: minus;
}

section.calculator .container .calculator-wrapper .keys div.one {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: one;
}

section.calculator .container .calculator-wrapper .keys div.two {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: two;
}

section.calculator .container .calculator-wrapper .keys div.three {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: three;
}

section.calculator .container .calculator-wrapper .keys div.plus {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: plus;
}

section.calculator .container .calculator-wrapper .keys div.plus-minus {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: plus-minus;
}

section.calculator .container .calculator-wrapper .keys div.zero {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: zero;
}

section.calculator .container .calculator-wrapper .keys div.dot {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: dot;
}

section.calculator .container .calculator-wrapper .keys div.equals {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: equals;
}

section.calculator .container .calculator-wrapper .keys div.plus-minus span {
  color: var(--color-black-1);
}

section.calculator .container .calculator-wrapper .keys div.division, section.calculator .container .calculator-wrapper .keys div.multiplication, section.calculator .container .calculator-wrapper .keys div.minus, section.calculator .container .calculator-wrapper .keys div.plus, section.calculator .container .calculator-wrapper .keys div.equals, section.calculator .container .calculator-wrapper .keys div.plus-minus {
  font-size: 3rem;
  font-weight: 300;
}

section.calculator .container .calculator-wrapper .keys div.module, section.calculator .container .calculator-wrapper .keys div.division, section.calculator .container .calculator-wrapper .keys div.multiplication, section.calculator .container .calculator-wrapper .keys div.minus, section.calculator .container .calculator-wrapper .keys div.plus, section.calculator .container .calculator-wrapper .keys div.equals, section.calculator .container .calculator-wrapper .keys div.ac, section.calculator .container .calculator-wrapper .keys div.backspace, section.calculator .container .calculator-wrapper .keys div.plus-minus {
  color: var(--color-green-1);
  opacity: 0.8;
}

section.calculator .container .calculator-wrapper .keys div.ac, section.calculator .container .calculator-wrapper .keys div.backspace, section.calculator .container .calculator-wrapper .keys div.plus-minus {
  color: var(--color-black-1);
}

section.calculator .container .calculator-wrapper .keys div.division, section.calculator .container .calculator-wrapper .keys div.multiplication, section.calculator .container .calculator-wrapper .keys div.minus, section.calculator .container .calculator-wrapper .keys div.plus, section.calculator .container .calculator-wrapper .keys div.equals, section.calculator .container .calculator-wrapper .keys div.module {
  background-color: var(--color-white-1);
}

section.calculator .container .calculator-wrapper .keys div.division:hover, section.calculator .container .calculator-wrapper .keys div.division:focus-within, section.calculator .container .calculator-wrapper .keys div.multiplication:hover, section.calculator .container .calculator-wrapper .keys div.multiplication:focus-within, section.calculator .container .calculator-wrapper .keys div.minus:hover, section.calculator .container .calculator-wrapper .keys div.minus:focus-within, section.calculator .container .calculator-wrapper .keys div.plus:hover, section.calculator .container .calculator-wrapper .keys div.plus:focus-within, section.calculator .container .calculator-wrapper .keys div.equals:hover, section.calculator .container .calculator-wrapper .keys div.equals:focus-within, section.calculator .container .calculator-wrapper .keys div.module:hover, section.calculator .container .calculator-wrapper .keys div.module:focus-within {
  background-color: var(--color-white-2);
}

section.calculator .container .calculator-wrapper .keys div.ac, section.calculator .container .calculator-wrapper .keys div.backspace {
  background-color: var(--color-green-1);
  color: var(--color-white-1);
}

section.calculator .container .calculator-wrapper .keys div.ac:hover, section.calculator .container .calculator-wrapper .keys div.ac:focus-within, section.calculator .container .calculator-wrapper .keys div.backspace:hover, section.calculator .container .calculator-wrapper .keys div.backspace:focus-within {
  background-color: var(--color-green-3);
  color: var(--color-white-1);
}

section.calculator .container .calculator-wrapper.active .header .mode-toggle {
  -webkit-animation: scale-animation 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          animation: scale-animation 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

section.calculator .container .calculator-wrapper.dark-theme {
  background: var(--color-white-1);
}

section.calculator .container .calculator-wrapper.dark-theme .header .mode-toggle i {
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

section.calculator .container .calculator-wrapper.dark-theme .header .mode-toggle i:first-child {
  display: none;
}

section.calculator .container .calculator-wrapper.dark-theme .header .mode-toggle i:last-child {
  display: block;
}

section.calculator .container .calculator-wrapper.dark-theme .header .mode-toggle:hover i, section.calculator .container .calculator-wrapper.dark-theme .header .mode-toggle:focus-within i {
  color: var(--color-white-2);
}

section.calculator .container .calculator-wrapper.dark-theme .display {
  position: relative;
}

section.calculator .container .calculator-wrapper.dark-theme .display input {
  color: var(--color-white-1);
}

section.calculator .container .calculator-wrapper.dark-theme .keys div:hover, section.calculator .container .calculator-wrapper.dark-theme .keys div:focus-within {
  background: var(--color-black-2);
}

section.calculator .container .calculator-wrapper.dark-theme .keys div.plus-minus {
  color: var(--color-white-1);
}

@media (min-width: 992px) {
  section.calculator .container .calculator-wrapper {
    width: 25vw;
    height: auto;
    -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  }
  section.calculator .container .calculator-wrapper.dark-theme {
    -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  }
  section.calculator .container .calculator-wrapper .display {
    min-width: 25vw;
  }
}

@media (min-width: 992px) {
  section.calculator .container {
    width: 25vw;
    height: auto;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */